.rightBur {  
  background-color: #1e2745;    
  top: 75px;
  z-index: 100;
  position: fixed;
  width: 250px;
  right: 0;
  transition: all 0.5s ease;
  height: 100vh;
}

 

@media screen and (max-width: 1299px){   
  .rightBur {   
    transform: translateX(calc(111% + -2em));
}
}

