.users {
    display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
}

.user {
   width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
       margin: 20px;
    border-radius: 5px;
    background-size:cover;
    background-position: center
}
.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.userInfo h3 {
color: #2aa3fb;
}
.userAvatar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.userAvatar button{
    margin-top: 20px;
}

.user img {
    height: 10px;
    background-size:cover;
    background-position: center
}

.userAvatar img {
   border-radius: 70px;
   width: 120px;
   height: 120px;

}
 
  @media screen and (max-width: 1299px){   
    .user{   
        width: 100%;
  }
  }