.users {
    display: grid;
    grid-template-columns: 2fr 10fr;
    margin: 20px;
}
.userAvatar {
    padding: 20px;

}
.userAvatar img {
   border-radius: 70px;
   width: 100px;
   height: 100px;

}
.userInfo {
    position: relative;
    padding: 20px;
    border:  #ff4f81 2px solid;
    font-size: large;
    
}
.userInfo h3 {
    color: #ff4f81  ;
}
.city {
    position: absolute;
    top: 25px;
    right: 25px;
}
.country {
    position: absolute;
    top: 50px;
    right: 25px;
}