.navBur {
  grid-area: navbur;
  background-color: #ff4f81;
  padding: 20px;
  font-size: x-large;
  font-weight: bold;
}
.item a {
  text-decoration: none;
  color: black;
}
.item a.active {
  color: #e4002b;
}