.navBur {
  grid-area: navbur;
  /* background-color: #ff4f81; */
  background-color: rgb(50, 50, 50); 
  padding: 20px;
  font-size: x-large;
  font-weight: bold;
}
.item a {
  text-decoration: none;
  /* color:rgb(200, 200, 200); */
  color: #a3a3a3;
}
.item a.active {
  color: #ffb900;
}