.navBur {  
  background-color: #1e2745;  
  position: fixed;
  z-index: 999;
  top: 75px;
  width: 250px;
  height: 100vh;
}
.item a {
  text-decoration: none; 
  color: #8c91b6;
  font-size: 14px;   
  position: relative;
  padding: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}
.item a.active {
  color: #2aa3fb;
  background-color: #29324f;
  border-radius: 5px;
}

.icon {
  margin-right: 10px;
}
@media screen and (max-width: 1299px){   
.navBur {   
  display: inline-block;
    z-index: 99;
    left: -260px;
}
}


