.formControl.error input, 
.formControl.error textarea {
border: 2px solid red
}
.errorSpan {
  color: red;
}
.formSummeryError {
  border: 2px solid red;
  color: red;
}
.loginForm{
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
}

.loginForm img{
width: 160px;
}