.formControl.error input, 
.formControl.error textarea {
border: 2px solid red
}
.errorSpan {
  color: red;
}
.formSummeryError {
  border: 2px solid red;
  color: red;
}
.form{
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  align-items: center;
}

.form img{
width: 160px;
}

.loginBlock {
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  align-items: center;
}
.searchButton {
  position: absolute;
  top: 508px;
  left:640px;
}
.loginCheckBox {
  height: 20px;
}