.app-wrapper {
    min-height: 100vh;
    min-width: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "header header"
    "navbur contant";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 1vw; */
}
.app-wrapper-content {
    grid-area: contant;
    background-color:rgb(200, 200, 200)
    /* background-color: #87cefa; */
}
