.app-wrapper {
    min-height: 100vh;
    min-width: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "header header"
    "navbur contant";

    grid-template-rows: 20%px 1fr;
    grid-template-columns: 20% 1fr;
    grid-gap: 1vw;
    background-color: #e4002b
}
.app-wrapper-content {
    grid-area: contant;
    background-color:rgb(200, 200, 200)
    /* background-color: #87cefa; */
}
