.app-wrapper {
    min-height: 100vh;
    min-width: 100vh;
    margin: 0 auto;  
}
.app-body {
    display: flex;
}
.app-content {
    background-color:#182039;
    height: 100vh;
    margin-left: 270px;
    margin-right: 270px;
    margin-top: 95px;
    width: calc(100% - 500px);
    }

    
@media screen and (max-width: 1299px){   
    .app-content{   
        width: 100%;
        margin: 0;
  }
  }


