* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #8c91b6;
  background-color:#182039;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0px;
    line-height: 1.5;
    color: #8c91b6;
}

a {
  color: #2aa3fb;
  text-decoration: none;
}
button {
  background: #50b5ff;
  border-color: #50b5ff;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    font: 400 13.3333px Arial;
    font-family: inherit;
    cursor: pointer;
}
button:hover {
  background: #2aa3fb;
  border-color: #2aa3fb;
}