* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #8c91b6;
  background-color:#182039;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0px;
    line-height: 1.5;
    color: #8c91b6;
}

a {
  color: #2aa3fb;
  text-decoration: none;
}
